In [1]:
#Install pystan (if not already installed)
#Code should be disabled after first run

#!conda install -c conda-forge pystan
#!pip install pystan

In [2]:
#Install fbprophet (if not already installed)
#Code should be disabled after first run

#!conda install -c conda-forge fbprophet -y
#!pip install fbprophet

In [3]:
#Upgrade plotly after installing fbprophet
#Code should be disabled after first run

#!pip install --upgrade plotly

In [4]:
#Import dependencies

import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import requests
from pprint import pprint
from fbprophet import Prophet

import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import scipy.stats

In [5]:
df = pd.read_csv('data/WMT.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  1972-08-25  0.063477  0.064697  0.063477  0.064453   0.037027  2508800
1  1972-08-28  0.064453  0.064941  0.064209  0.064209   0.036887   972800
2  1972-08-29  0.063965  0.063965  0.063477  0.063477   0.036466  1945600
3  1972-08-30  0.063477  0.063477  0.062988  0.063477   0.036466   409600
4  1972-08-31  0.062988  0.062988  0.062500  0.062500   0.035905   870400

In [6]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,12242.000000,12242.000000,12242.000000,12242.000000,12242.000000,1.224200e+04
mean,33.323517,33.640010,33.008329,33.329019,27.098417,7.527616e+06
std,34.336433,34.632807,34.052622,34.342539,31.485295,6.279231e+06
min,0.015625,0.015625,0.014404,0.015625,0.009031,0.000000e+00
25%,1.332031,1.352540,1.320313,1.335938,0.836820,3.835650e+06
50%,14.843750,14.937500,14.687500,14.875000,9.767956,6.278500e+06
75%,55.240002,55.933124,54.637500,55.250000,40.818147,9.515550e+06
max,153.600006,153.660004,151.660004,152.789993,152.233536,1.318336e+08

In [7]:
priceVolume = df[['Close','Volume']]
priceVolume.head()

      Close   Volume
0  0.064453  2508800
1  0.064209   972800
2  0.063477  1945600
3  0.063477   409600
4  0.062500   870400

In [8]:
# from sklearn.preprocessing import MinMaxScaler

In [9]:
corr = scipy.stats.linregress(priceVolume)
corr.rvalue

0.34706411528828335

In [10]:
#plot linear regression

In [13]:
# Select only the important features i.e. the date and price
data = df[["Date","Close"]] # select Date and Price

#Ensure 'Date' is in date format
data['Date'] = pd.to_datetime(data['Date'], format='%Y%m%d')

ticker = "WMT"
start_date = "2010-01-01"

ValueError: time data '1972-08-25' does not match format '%Y%m%d' (match)

In [12]:
walmartFiltered = data.loc[data['Date'] >= start_date, ['Date','Close']]
walmartFiltered.head(10)

           Date      Close
9425 2010-01-04  54.230000
9426 2010-01-05  53.689999
9427 2010-01-06  53.570000
9428 2010-01-07  53.599998
9429 2010-01-08  53.330002
9430 2010-01-11  54.209999
9431 2010-01-12  54.730000
9432 2010-01-13  55.009998
9433 2010-01-14  54.209999
9434 2010-01-15  53.680000

In [ ]:
walmartCleaned = walmartFiltered.set_index('Date')
walmartCleaned.head()

In [ ]:
#export to csv for posterity
walmartCleaned.to_csv(r'C:\Users\mayla\Desktop\retail-ML\WMTfiltered.csv', index='date', header=True)

In [ ]:
df = pd.read_csv(r'C:\Users\mayla\Desktop\retail-ML\WMTfiltered.csv')
df.head()

In [ ]:
#Trying out seaborn
sns.histplot(walmartFiltered, x='Date', y='Close')

In [ ]:
plt.figure(figsize=(20,12))
plt.plot(walmartFiltered['Date'], walmartFiltered['Close'])
plt.title('Price chart (Close)' + ticker)
plt.show()

In [ ]:
# Rename the features: These names are NEEDED for the model fitting
datePrice = walmartFiltered.rename(columns = {"Date":"ds","Close":"y"}) #renaming the columns of the dataset
datePrice.head(5)

In [ ]:
model = Prophet(daily_seasonality=True)
model.fit(datePrice)
datePrice.tail()

In [ ]:
future_df = model.make_future_dataframe(periods=365)
future_df.tail()

In [ ]:
predictions = model.predict(future_df)
predictions.tail()

In [ ]:
Chart1 = model.plot(predictions)

In [ ]:
fig1 = model.plot(predictions)

#datenow = datetime.now()
datenow = datetime(2021, 3, 23)
dateend = datenow + timedelta(days=180)
datestart = dateend - timedelta(days=450)
plt.xlim([datestart, dateend])
plt.title("Walmart Stock Price Forecast", fontsize=20)
plt.xlabel("Day", fontsize=20)
plt.ylabel("Stock Price", fontsize=20)
plt.axvline(datenow, color="k", linestyle=":")
plt.show()

In [ ]:
predictions[['ds', 'yhat', 'yhat_lower', 'yhat_upper']][-90:]

In [ ]:
Chart2 = model.plot_components(predictions)

In [ ]:
from fbprophet.diagnostics import cross_validation
priceCV = cross_validation(model, initial='1095 days', period='180 days', horizon = '365 days')
priceCV.head()

In [ ]:
priceCV

In [ ]:
from fbprophet.diagnostics import performance_metrics
priceMetrics = performance_metrics(priceCV)
priceMetrics.tail()

In [ ]:
from fbprophet.plot import plot_cross_validation_metric
fig = plot_cross_validation_metric(priceCV, metric = 'mape')

In [ ]:
walmartFiltered2 = df[["Date","Volume"]] # select Date and Volume

# Rename the features: These names are NEEDED for the model fitting
dateVolume = walmartFiltered2.rename(columns = {"Date":"ds","Volume":"y"}) #renaming the columns of the dataset
dateVolume.head(5)

In [ ]:
model2 = Prophet(daily_seasonality=True)
model2.fit(dateVolume)
dateVolume.tail()

In [ ]:
future2_df = model2.make_future_dataframe(periods=365)
future2_df.tail()

In [ ]:
predictions2 = model2.predict(future_df)
predictions2.tail()

In [ ]:
model.plot(predictions)

In [ ]:
model.plot_components(predictions)

In [ ]:
from fbprophet.diagnostics import cross_validation
volumeCV = cross_validation(model, initial='1095 days', period='180 days', horizon = '365 days')
volumeCV.head()

In [ ]:
volumeCV

In [ ]:
from fbprophet.diagnostics import performance_metrics
volumeMetrics = performance_metrics(volumeCV)
volumeMetrics.tail()

In [ ]:
from fbprophet.plot import plot_cross_validation_metric
fig = plot_cross_validation_metric(volumeCV, metric = 'mape')

# HOLIDAY ANALYSIS

## Setup

In [ ]:
#Import API Key
%run config.ipynb

#Test API
year=2010
country='CA'

# Build query url:
url = f'https://calendarific.com/api/v2/holidays?&api_key={Holiday_API}&country={country}&year={year}'

# Request url and print json file:
response = requests.get(url).json()
pprint(response)

In [ ]:
# Set holidays, country and years we want dates:
holiday = ['Christmas Day','Christmas Eve','Independence Day',"New Year's Day", "Thanksgiving Day"]
country = 'US'
year = [2010,2011,2013,
       2014,2015,2016,
       2017,2018,2019,
       2020,2021,2022]

# Loops through API and get dates:
holiday_name = []
holiday_date =[]
category = []
holiday_year = []

for number in year:
    # Set url base
    url = f'https://calendarific.com/api/v2/holidays?&api_key={Holiday_API}&country={country}&year={number}'
    response = requests.get(url).json()
    
    #Loop through holiday
    for name in holiday:
        # Loop through API
        for i in range(len(response['response']['holidays'])):
            if name == response['response']['holidays'][i]['name']:
                holiday_date.append(response['response']['holidays'][i]['date']['iso'])
                category.append(name)
                holiday_year.append(number)
                break
                
# Create dataframes of lists created:
holiday_df = pd.DataFrame({'Holiday': category,
                        'Year': holiday_year,
                        'Date': holiday_date})

# Display preview:
holiday_df.tail(20)

In [ ]:
walmartFiltered['Close'].astype(float)

In [ ]:
holidayDates = holiday_df['Date'].tolist()

In [ ]:
holidayDates

In [ ]:
walmartHolidays = walmartFiltered[walmartFiltered.Date.isin(holidayDates)]
walmartHolidays

In [ ]:
# model3 = Prophet(daily_seasonality=True)
# model2.fit(dateVolume)
# dateVolume.tail()

# FLASK APP

In [ ]:
#Dependencies
# Flask
from flask_sqlalchemy import SQLAlchemy
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
from flask_cors import CORS, cross_origin

# OS, Pandas
import os
import pandas as pd
import numpy as np
import datetime
import requests
import matplotlib.pyplot as plt

# SQLAlchemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

# FB Prophet
from fbprophet import Prophet

In [ ]:
# Flask Setup
#################################################
app = Flask(__name__)
CORS(app)
#################################################
# Database Setup
#################################################

engine = create_engine(
    "postgres://ofiglsqd:vVojrG9_zzJZCOLXz8rhKWXk6ivvYqAe@otto.db.elephantsql.com:5432/ofiglsqd", echo=False)

Base = automap_base()
Base.prepare(engine, reflect=True)

stock = Base.classes.stock
session = Session(engine)

In [ ]:
# create route that renders index.html template
@app.route("/")
def home():
    return render_template("index.html")


@app.route("/api/stock")
def stock_route():

    data= session.query(stock.Date, stock.Open , stock.High,stock.Low,stock.Close,stock.Volume,stock.Color,stock.MovingAvg).all()
 
    stock_df=[]
    for row in data:
        output = {
            "dates" : row[0],
            "openingPrices":row[1],
            "highPrices": row[2],
            "lowPrices": row[3],
            "closingPrices": row[4],
            "volume":row[5],
            "colors": row[6],
            "movingAvg": row[7]}
        stock_df.append(output)
        
    return jsonify(stock_df)

# @app.route("/katana-ml/api/v1.0/forecast/ironsteel", methods=['POST'])
# def predict():
#     horizon = int(request.json['horizon'])
    
#     future2 = m2.make_future_dataframe(periods=horizon)
#     forecast2 = m2.predict(future2)
    
#     data = forecast2[['ds', 'yhat', 'yhat_lower', 'yhat_upper']][-horizon:]
    
#     ret = data.to_json(orient='records', date_format='iso')
    
#     return ret

if __name__ == "__main__":
    app.run(debug=True)