In [3]:
#Install fbprophet (if not already installed)
#Code should be disabled after first run

#!conda install -c conda-forge fbprophet -y

In [4]:
#Upgrade plotly after installing fbprophet
#Code should be disabled after first run

#!pip install --upgrade plotly

In [2]:
!pip install pystan

Requirement already satisfied: pystan in c:\users\mayla\anaconda3\lib\site-packages (2.18.0.0)
Requirement already satisfied: Cython!=0.25.1,>=0.22 in c:\users\mayla\anaconda3\lib\site-packages (from pystan) (0.29.21)
Requirement already satisfied: numpy>=1.7 in c:\users\mayla\anaconda3\lib\site-packages (from pystan) (1.18.5)

In [3]:
!pip install fbprophet

Requirement already satisfied: fbprophet in c:\users\mayla\anaconda3\lib\site-packages (0.7.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (1.18.5)
Collecting cmdstanpy==0.9.5
  Downloading cmdstanpy-0.9.5-py3-none-any.whl (37 kB)
Requirement already satisfied: pystan>=2.14 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (2.18.0.0)
Requirement already satisfied: convertdate>=2.1.2 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (2.3.1)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (3.2.2)
Requirement already satisfied: pandas>=1.0.4 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (1.0.5)
Requirement already satisfied: LunarCalendar>=0.0.9 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (0.0.9)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (4.47.0)
Requirement already satisfied: Cython>=0.22 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (0.29.21)
Requirement already satisfied: holidays>=0.10.2 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (0.10.5.2)
Collecting setuptools-git>=1.2
  Downloading setuptools_git-1.2-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: python-dateutil>=2.8.0 in c:\users\mayla\anaconda3\lib\site-packages (from fbprophet) (2.8.1)
Requirement already satisfied: pytz>=2014.10 in c:\users\mayla\anaconda3\lib\site-packages (from convertdate>=2.1.2->fbprophet) (2020.1)
Requirement already satisfied: pymeeus!=0.3.8,<=1,>=0.3.6 in c:\users\mayla\anaconda3\lib\site-packages (from convertdate>=2.1.2->fbprophet) (0.5.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mayla\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\mayla\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\mayla\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (2.4.7)
Requirement already satisfied: ephem>=3.7.5.3 in c:\users\mayla\anaconda3\lib\site-packages (from LunarCalendar>=0.0.9->fbprophet) (3.7.7.1)
Requirement already satisfied: six in c:\users\mayla\anaconda3\lib\site-packages (from holidays>=0.10.2->fbprophet) (1.15.0)
Requirement already satisfied: korean-lunar-calendar in c:\users\mayla\anaconda3\lib\site-packages (from holidays>=0.10.2->fbprophet) (0.2.1)
Requirement already satisfied: hijri-converter in c:\users\mayla\anaconda3\lib\site-packages (from holidays>=0.10.2->fbprophet) (2.1.1)
Installing collected packages: cmdstanpy, setuptools-git
Successfully installed cmdstanpy-0.9.5 setuptools-git-1.2

In [5]:
pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.8.1-cp38-cp38-win_amd64.whl (155 kB)
Requirement already satisfied: matplotlib in c:\users\mayla\anaconda3\lib\site-packages (from wordcloud) (3.2.2)
Requirement already satisfied: pillow in c:\users\mayla\anaconda3\lib\site-packages (from wordcloud) (7.2.0)
Requirement already satisfied: numpy>=1.6.1 in c:\users\mayla\anaconda3\lib\site-packages (from wordcloud) (1.18.5)
Requirement already satisfied: cycler>=0.10 in c:\users\mayla\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mayla\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\mayla\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\mayla\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.1)
Requirement already satisfied: six in c:\users\mayla\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.15.0)
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
from fbprophet import Prophet
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import wordcloud
# from alphaVantageAPI.alphavantage import AlphaVantage

In [9]:
df = pd.read_csv('data/WMT.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  1972-08-25  0.063477  0.064697  0.063477  0.064453   0.037027  2508800
1  1972-08-28  0.064453  0.064941  0.064209  0.064209   0.036887   972800
2  1972-08-29  0.063965  0.063965  0.063477  0.063477   0.036466  1945600
3  1972-08-30  0.063477  0.063477  0.062988  0.063477   0.036466   409600
4  1972-08-31  0.062988  0.062988  0.062500  0.062500   0.035905   870400

In [10]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,12242.000000,12242.000000,12242.000000,12242.000000,12242.000000,1.224200e+04
mean,33.323517,33.640010,33.008329,33.329019,27.098417,7.527616e+06
std,34.336433,34.632807,34.052622,34.342539,31.485295,6.279231e+06
min,0.015625,0.015625,0.014404,0.015625,0.009031,0.000000e+00
25%,1.332031,1.352540,1.320313,1.335938,0.836820,3.835650e+06
50%,14.843750,14.937500,14.687500,14.875000,9.767956,6.278500e+06
75%,55.240002,55.933124,54.637499,55.250000,40.818146,9.515550e+06
max,153.600006,153.660004,151.660004,152.789993,152.233536,1.318336e+08

In [11]:
# Select only the important features i.e. the date and price
data = df[["Date","Close"]] # select Date and Price
# Rename the features: These names are NEEDED for the model fitting
datePrice = data.rename(columns = {"Date":"ds","Close":"y"}) #renaming the columns of the dataset
datePrice.head(5)

           ds         y
0  1972-08-25  0.064453
1  1972-08-28  0.064209
2  1972-08-29  0.063477
3  1972-08-30  0.063477
4  1972-08-31  0.062500

In [ ]:
from fbprophet import Prophet
model = Prophet()
model.fit(datePrice)
datePrice.tail()

INFO:numexpr.utils:NumExpr defaulting to 8 threads.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

KeyError: 'metric_file'

Exception ignored in: 'stanfit4anon_model_f5236004a3fd5b8429270d00efcc0cf9_9045703871880297330._set_stanargs_from_dict'
Traceback (most recent call last):
  File "C:\Users\mayla\anaconda3\lib\site-packages\pystan\model.py", line 550, in optimizing
    ret, sample = fit._call_sampler(stan_args)
KeyError: 'metric_file'

In [ ]:
future_df = model.make_future_dataframe(periods=365)
future_df